.pagina{
    text-align: center;
}

.paginaPerfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* perfil */
.dadosPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.campoTexto{
    width: 300px;
}

.campos{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: space-between;
}

.botoes{
    display: flex;
    gap: 20px;
}

/* colaborador */
.paginaColaborador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.acoesColaborador{
    display: flex;
    gap: 20px;
}
