.navbarContainer{
    display: flex;
    align-items: center;
    background-color: #89D6D5;
    height: 96px;
}

.logo{
    width: 5em;
    padding: 1em;
    font-size: 46px;
}

.logo, .logo:link, .logo:visited, .logo:hover, .logo:active{
    text-decoration: none;
    color: black;
}


.navbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-size:20px;
}

.navbarLink{
    color:black
}

.navbarLink:hover{
    color:#78341C;
    transform: scale(1.1);
}

.navbarLinksContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    padding: 0.5em;
    
}

.mobileNavbarItems{
    display: none;
}

.mobileNavbarBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: xx-large;
    padding: 0.5em;
}

.drawer{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    gap:1em;
    background-color: #89D6D5;
    font-size: xx-large;

}

@media screen and (max-width: 600px){
    .navbarItems{
        display: none;
    }

    .mobileNavbarItems{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.icons{
    color:black;
    font-size: x-large;
    border-radius: 40px;
    padding:10px;
    cursor: pointer;
    border: 1px solid black;

}

.icons:hover{
    border: 1px solid #78341C;
    color: #78341C;
    transform: scale(1.1);
}