.tituloPagina{
    font-size: 48px;
}

.subTituloPagina{
    font-size: 24px;
    font-weight:normal;
}

.divCabecalho{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.divImgHome{
    text-align: center;
}